/* to style the components */

/* user login form */

.user-login-password-filed{
    border: 1px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.user-login-password-filed input , .user-login-password-filed input:focus{
    border: none !important;
    outline: none !important; 
    box-shadow: none !important;
}

.user-login-password-filed button{
    background-color: transparent;
    border: none;
    outline: none;
}

/* login message pop-up */

#displayLoginMessages{
    width: 500px;
    height: 350px;
    background-color: var(--bs-light);
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}