/* to style the components */

/* user login form */

.user-login-password-filed {
    border: 1px solid #000000;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

.user-login-password-filed input,
.user-login-password-filed input:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.user-login-password-filed button {
    background-color: transparent;
    border: none;
    outline: none;
}

/* login message pop-up */

#displayLoginMessages {
    width: 500px;
    height: 350px;
    background-color: var(--bs-light);
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* user-dashboard */

.user-dashboard {
    min-height: 650px;
    max-height: 850px;
    height: 650px;
}

/* navbar starts */

.main-serach-bar-container {
    padding: 0 1%;
    border-radius: 24px;
    overflow: hidden;
    background-color: white;
}

.main-serach-bar-container .search-bar,
.main-serach-bar-container .search-bar:focus,
.main-serach-bar-container .catigories-selector,
.main-serach-bar-container .catigories-selector:focus {
    background-color: white;
    border: none;
    outline: none;
}


.mobile-mobile-special{
    position: fixed;
    width: 100%;
    bottom: 0;
    display: grid;
    z-index: 9999999999999999;
    background-color: var(--bs-black);
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(1,75px);
}

.mobile-menu-icon-container{
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-menu-icon-container .fa{
    font-size: 1.4rem;
}

.mobile-menu-icon-container span{
    font-size: 0.8rem;
}

.mobile-menu-icon-special{
    width: 75px;
    height: 75px;
    border: 6px solid white ;
    border-radius: 100%;
    position: relative;
    top: -35%;
    background-color: black;
}

/* navbar ends */